name: Aktualizace Kalendář API
on:
  schedule:
    - cron: '0 0 * * *' # Každou půlnoc
  workflow_dispatch: # Možnost spustit ručně
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Generování JSON
        run: node api-generator.js
      - name: Uložení do GitHubu
        run: |
          git config --global user.name 'API-Bot'
          git add zid-kalendar.json
          git commit -m "Auto-update API" || exit 0
          git push
