name: Update Jewish Calendar API
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r wa/requirements.txt
      - name: Run update script
        run: python wa/zid-kalendar.py
      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add wa/zid-kalendar.json
          git commit -m "Aktualizace wa/zid-kalendar.json" || exit 0
          git push
